<div id="footerwrap">
     <div class="container">
        <div class="row"> 
            <div class="col-sm-8">
             <a href="https://tascha.uw.edu"><img src="{{ "/images/TASCHA_logo_stacked_white.png" | prepend: site.baseurl }}" style="PADDING-BOTTOM: 1px; PADDING-TOP: 1px; height: 150px; display:block; margin-left: auto; margin-right: auto; float: right" class="img-responsive"></a>
             </div>
             <div class="col-sm-4">
                 <p style="text-align:left;vertical-align:middle;">
                 <a href="https://facebook.com/tascharesearch" class="fa fa-facebook"></a>
                 <a href="https://twitter.com/taschagroup" class="fa fa-twitter"></a>
                 <a href="mailto:tascha@uw.edu" class="fa fa-envelope"></a>
                 </p>
             </div>
        </div><!-- /row -->
      </div> <!-- /container -->
</div><! --/footerwrap -->
